span.css-at {color: #708;}
span.css-unit {color: #281;}
span.css-value {color: #708;}
span.css-identifier {color: black;}
span.css-selector {color: #11B;}
span.css-important {color: #00F;}
span.css-colorcode {color: #299;}
span.css-comment {color: #A70;}
span.css-string {color: #A22;}

body{
    font-family:sans-serif;
}
.urlEntryBox{
    width:450px;
    height:100px;
    /*background-color:#CCCCCC;
    margin: 0 auto;*/
    position:relative;
    top:200px;
    left:200px;
}

.urlEntryBox #url{
    width:400px;
    height:30px;
    font-size:20pt;        
}

.urlEntryBox > h2{
    font-size:20px;
    margin-bottom:20px;
}
