body {
    background: url("/static/bright_squares.png");
}

#content {
  margin: 10px;
}

#edit-css-form textarea.styleSheet {
  width: 100%;
  height: 600px;
}

#edit-css-form textarea.styleAttribute {
  width: 100%;
  height: 25px;
}

#edit-tabs ul,
#edit-tabs textarea {
  font-size: 12px;
}
