{% extends "base.html" %}
{% block content %}
<h2>Edit CSS</h2>
<form id="edit-css-form" name="input" action="/savepage/{{page.id}}" method="POST">
  {% csrf_token %}
  <div id="edit-tabs">
    <ul>
      {% for stylesheet in stylesheets %}
      <li><a href="#tabs-{{stylesheet.id}}">{{stylesheet.name}}</a></li>
      {% endfor %}
    </ul>
    {% for stylesheet in stylesheets %}
    <div id="tabs-{{stylesheet.id}}">
      <textarea name="cssasset_{{stylesheet.uuid}}">{{stylesheet.raw}}</textarea>
    </div>
    {% endfor %}
  </div>
  <input name="submit" value="Save" type="submit"></input>
  <!--<input name="preview" value="Preview" type="submit" onclick="this.form.action = '/previewpage/{{page.id}}'; return true;"></input>-->
</form>
  <button onclick="newPreview('/rawpage/{{page.id}}');">Preview</button>
{% endblock %}
