{% extends "base.html" %}
{% block content %}
<script type="text/javascript">
delimiter = "{{delimiter}}";
pageId = "{{page.id}}";

$(function(){
    $.ajax("/rawpage/"+pageId, function(result) { 
        pageHtml = result
    });
});

function preview(){
    var html = pageHtml;
    var rex = new RegExp(delimiter+'([0-f]+)'+delimiter,'gi');
    html = html.replace(rex,function(stt,p1,offset){
        return $('cssasset_'+p1).text;
    });

    $("#preview").remove();
    var iframe = $("<iframe/>").attr('id','preview');
    $("#content").append(iframe);
    var doc = iframe[0].document;
    if(doc == undefined)
        doc = iframe[0].contentDocument;
    doc.open();
    doc.writeln(html);
    doc.close();
}
</script>
<h2>Edit CSS</h2>
<form id="edit-css-form" name="input" action="/savepage/{{page.id}}" method="POST">
  {% csrf_token %}
  <div id="edit-tabs">
    <ul>
      {% for stylesheet in stylesheets %}
      <li><a href="#tabs-{{stylesheet.id}}">{{stylesheet.name}}</a></li>
      {% endfor %}
      {% if styleattributes|length != 0 %}
      <li><a href="#tabs-attributes">Attributes</a></li>
      {% endif %}
    </ul>
    {% for stylesheet in stylesheets %}
    <div id="tabs-{{stylesheet.id}}">
      <textarea class="styleSheet" name="cssasset_{{stylesheet.uuid}}">{{stylesheet.raw}}</textarea>
    </div>
    {% endfor %}

    <div id="tabs-attributes">
      {% for styleattribute in styleattributes %}
      <span>{{styleattribute.name}}</span>
        <textarea class="styleAttribute" name="cssasset_{{styleattribute.uuid}}">{{styleattribute.raw}}</textarea>
      {% endfor %}
    </div>
  </div>
  <input name="submit" value="Save" type="submit"></input>
</form>
{% endblock %}
